@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background: url(/images/sunset.jpg);
  background-color: #25272f;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-size: cover;
  font-family: "Roboto", sans-serif;
}

marquee {
  color: rgb(248, 167, 158);
  font-size: larger;
  padding: 1rem;
}

.main_container {
  display: flex;
  flex-direction: column;
  position: relative;
  animation-name: bounce-4;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@keyframes bounce-4 {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-100px);
  }
  50% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

.special_container {
  background-color: rgb(64, 43, 85);
  padding: 2rem;
  margin: 2rem;
  border: 0.15rem solid rgb(248, 167, 158);
  border-radius: 5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  line-height: 1.5;
  color: rgb(248, 167, 158);
  text-align: justify;
  position: absolute;
  visibility: hidden;
}

#special_name {
  color: rgb(248, 167, 158);
  font-family: "Open Sans", sans-serif;
}

.regular_container {
  background-color: rgb(248, 167, 158);
  padding: 2rem;
  margin: 2rem;
  border: 0.15rem solid rgb(64, 43, 85);
  border-radius: 5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  line-height: 1.5;
  color: rgb(64, 43, 85);
  text-align: justify;
  position: relative;
  visibility: hidden;
}

#regular_name {
  color: rgb(64, 43, 85);
  font-family: "Open Sans", sans-serif;
}

#sam-img {
  width: 100px;
  height: 100px;
  object-fit: fill;
  border-radius: 50%;
  position: relative;
  float: right;
  margin: 1rem;
}

footer {
  font-size: 0.8rem;
  text-align: center;
  color: white;
  margin-top: 5rem;
}
